.cart {
  padding: 20px 30px;
  background-color: #fff;
  z-index: 1;
}

.pageTitleRow {
  display: grid;
  align-items: center;
  grid-template-columns: 100px 0.85fr;
  border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
  padding-bottom: 20px;
}

.pageTitle {
  font-family: "Cabin", sans-serif;
  font-size: 2rem;
  margin: 0 auto;
}

.bodyColumn {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1.4fr 0.6fr;
  gap: 20px;
  padding: 30px 0;
  > section {
  }
}

.cartSection {
  border: 1px solid rgba($color: #000000, $alpha: 0.1);
  padding: 20px;
}
.cartSection {
  > * {
    &:not(:last-child) {
      border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
    }
  }
}
.summaryRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
}

.scrollToCheckoutButton {
  text-decoration: none;
  background-color: #000000;
  color: #fff;
  padding: 10px;
  border-radius: 2px;
  display: none;
}

.cartSummary {
  font-family: "Mulish", sans-serif;
}

@media only screen and (max-width: 1000px) {
  .cart {
    padding: 20px;
  }
  .pageTitleRow {
    padding-bottom: 15px;
  }
  .bodyColumn {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0;
  }
  .scrollToCheckoutButton {
    display: inline-flex;
  }
}
