.navbar {
  background-color: #fff;
  padding: 15px 30px;
  box-shadow: 1px 2px 5px rgba($color: #000000, $alpha: 0.2);
}

.navbarBrand {
  color: #000;
  font-size: 2.5rem;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  letter-spacing: 3px;
}
