button {
  border: none;
  padding: 10px;
  outline: none;
  border-radius: 3px;
  font-size: 1rem;
  font-family: "Mulish", sans-serif;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
