.topNavbar {
  background-color: black;
  padding: 8px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
}

.left,
.right {
  color: white;
  font-family: "Mulish";
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 0.9rem;
}
@media only screen and(max-width:640px) {
  .topNavbar {
    padding: 8px 20px;
  }
}
@media only screen and(max-width: 375px) {
  .topNavbar {
    padding: 8px 10px;
  }
}
