.inputLabelGroup {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 15px;
}
.label {
  margin-bottom: 5px;
  font-family: "Work Sans", sans-serif;
  > span {
    color: rgb(197, 0, 0);
  }
}

.input {
  width: 100%;
  font-family: "Work Sans";
  font-size: 1.3rem;
  padding: 10px;
  outline: none;
  border: 1px solid rgba($color: #000000, $alpha: 0.2);
}
.passwordRow {
  display: flex;
}
.togglePasswordVisibilityBtn {
  background-color: transparent;
  border: 1px solid rgba($color: #000000, $alpha: 0.2);
  border-left: none;
}
