.profile {
  padding: 20px 30px;
}

.mainSection {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 600px 1fr;
  gap: 20px;
  padding: 20px 0;
  > * {
    padding: 15px;
    border: 1px solid rgba($color: #000000, $alpha: 0.1);
  }
}
@media only screen and (max-width: 640px) {
  .profile {
    padding: 10px;
  }
}
@media only screen and (max-width: 880px) {
  .mainSection {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 1600px) {
  .mainSection {
    width: 90%;
  }
}

@media only screen and (max-width: 1440px) {
  .mainSection {
    width: 100%;
  }
}
@media only screen and (max-width: 1280px) {
  .mainSection {
    grid-template-columns: minmax(300px, 400px) 1fr;
  }
}
