.profile {
  padding: 20px 30px;
}

.mainSection {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 600px 1fr;
  gap: 20px;
  padding: 20px 0;
  > * {
    padding: 15px;
    border: 1px solid rgba($color: #000000, $alpha: 0.1);
  }
}
@media only screen and (max-width: 640px) {
  .profile {
    padding: 10px;
  }
}
