.pageNotFound {
  height: 85vh;
  display: grid;
  grid-template-columns: 0.4fr 0.6fr;
  place-items: center;
  padding: 30px;
}
.backToHomepageButton {
  text-decoration: none;
}

@media only screen and (max-width: 500px) {
  .pageNotFound {
    display: flex;
    flex-direction: column;
    gap: 60px;
  }
  .right {
    > img {
      width: 60%;
    }
  }
}

.left {
  display: flex;
  flex-direction: column;

  > h1,
  h2 {
    font-family: "Cabin", sans-serif;
    margin-bottom: 20px;
  }
  > h1 {
    font-size: 4rem;
  }

  > h2 {
    font-size: 2rem;
    margin-bottom: 40px;
  }
}
.right {
  display: grid;
  place-items: center;
  > img {
    width: 90%;
    animation: pendulum 1.5s 1;
    animation-fill-mode: forwards;
    transform-origin: top;
    animation-timing-function: ease-out;
  }

  @keyframes pendulum {
    from {
      transform: rotate(-25deg);
    }
    20% {
      transform: rotate(25deg);
    }
    40% {
      transform: rotate(-15deg);
    }
    60% {
      transform: rotate(15deg);
    }
    80% {
      transform: rotate(-5deg);
    }
    to {
      transform: rotate(0deg);
    }
  }
}
